<form class="ui form">
    <br/>
    <h3 class="ui header">{{ title }}</h3>

    <div class="field">
        <label for="title">Titulo:</label>
        <input
            #newtitle 
            type="text"
            name="title"
            placeholder="Agrega un Titulo">
    </div>

    <div class="field">
        <label for="link">Link:</label>
        <input
            #newtitle 
            type="text"
            name="link"
            placeholder="Agrega un Link">
    </div>

    <button
        class="ui primary button"
        (click)=""
        type="submit">
        Agrege un Link
    </button>

</form>

    

<article></article>